h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.imgspotify {
  width: 160px;
  height: 160px;
}

.spotify {
  font-family: cursive;
  color: greenyellow;
}

.imgapple {
  width: 160px;
  height: 160px;
}

.imgdeezer {
  width: 160px;
  height: 160px;
}

.deezer {
  font-family: 'Courier New', Courier, monospace;
  color: orange;
}

.imgamazon {
  width: 160px;
  height: 160px;
}

.amazon {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: aqua;
}