ion-content {
  --color: black;

  section {
    width: 100%;
    height: 100vh;
    color: var(--color);
    background: linear-gradient(45deg, red, blue, green, black);
    background-size: 400% 400%;
    position: relative;

    h2 {
      font-size: 2rem;
      text-align: center;
    }

  }
}

.iconprin {
  font-size: 250px;
  color: black;
  margin-top: 286px;
  margin-left: 80px;
}

.iconprin:hover {
  color: var(--ion-color-primary);
}



