<ion-header [translucent]="true">
</ion-header>
<ion-content>
  <swiper-container [initialSlide]="0">

    <swiper-slide>
      <h1>Titulo princial</h1>
      <img src="/assets/images/logo.png">
      <ion-icon class="slide-icon" name="play-outline"></ion-icon>
      <p>Explicacion del primer slide</p>
    </swiper-slide>
    <swiper-slide>
      <h1>Titulo secundario</h1>
      <img src="/assets/images/logo2.png">
      <p>Explicacion del segundo slide</p>
    </swiper-slide>
  </swiper-container>
</ion-content>
