<ion-header [translucent]="true">
</ion-header>
<ion-content>
  <swiper-container [initialSlide]="0">

    <swiper-slide>
      <h1>Music App</h1>
      <img class="imgspotify" src="/assets/images/logo.png">
      <p class="spotify">Spotify es la app de musica mas popular, con una facil interfaz de menejo y una gran variedad de musica lo que la hace mas atractiva para muchos usuarios</p>
    </swiper-slide>

    <swiper-slide>
      <h1>Music App</h1>
      <img class="imgapple" src="/assets/images/logo2.png">
      <p>Apple Music brinda a los artistas herramientas para crear, publicar y promocionar su música, y también para medir su alcance a nivel global</p>
    </swiper-slide>

    <swiper-slide>
      <h1>Music App</h1>
      <img class="imgdeezer" src="/assets/images/3.png">
      <p class="deezer">Deezer es una aplicación de música en streaming que te da acceso a más de 90 millones de canciones en todo el mundo y otros contenidos de audio como podcasts.</p>
    </swiper-slide>

    <swiper-slide>
      <h1>Music App</h1>
      <img class="imgamazon" src="/assets/images/4.png">
      <p class="amazon">Amazon Music es una plataforma de transmisión en directo de música y tienda perteneciente a la empresa Amazon. Se publicó la versión beta del servicio el 25 de septiembre de 2007. En enero de 2020, la plataforma contaba con 55 millones de usuarios</p>
    </swiper-slide>

  </swiper-container>
</ion-content>
